/*Medium layout 1200px*/
@media only screen and (min-width: 992px) and (max-width:1200px){
	.hero-text h1{
		color:red;
	}
}

/*Tablet layout 768px*/
@media only screen and (min-width: 768px) and (max-width:991px){
	.hero-text h1{
		color:green;
	}
}


/* mobile layout 320px*/
@media only screen and (max-width:767px){
.hero-text h1{
	color:blue;
}
.welcome-area {
	height: 100%;
}
.hero-area-table {
	display: block;
	height: auto;
}
.logo, .main-menu {
	text-align: center;
}
.copyright-area {
	position: relative;
	
}
.copyright-area, .copyright-area ul {
	text-align: center;
}
.copyright-area li {
	margin-top: 5px;
}
.hero-text {
	padding-top: 150px;
	padding-bottom: 50px;
}
.logo{
	margin-bottom:20px;
}

}

/* Wide Mobile layout 480px*/
@media only screen and (min-width: 480px) and (max-width:767px){
	.hero-text h1{
		color:orange;
	}
}