*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
	font-weight:400;
}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.single-portfolio-item{background:url(../img/img-1.jpg);}
.single-portfolio-item.bg-2{background:url(../img/img-2.jpg);
	background-size:cover;background-position: center;
}
.single-portfolio-item.bg-3{background:url(../img/img-3.jpg);
	background-size:cover;background-position: center;
}
.single-portfolio-item.bg-4{background:url(../img/img-4.jpg);
	background-size:cover;background-position: center;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}
.header-area a {
  color: #fff;
}
.main-menu {
  text-align: right;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
}
.main-menu ul li {
  display: inline-block;
}
.main-menu ul li a {
  padding: 20px;
  display: block;
  padding-right: 30px;
}
.hero-area a, .hero-area, .section-padding.dark-bg, .section-padding.dark-bg a,.social-icon a {
	color: #777;
}
.hero-area h2 {
  font-weight: 400;
  font-size: 35px;
  line-height:1.6;
  color:#fff;
}
.hero-area h2 span{
	color:#F2C71D;
	text-transform:uppercase;
}
.hero-area {
  background: #1D1E20;
  padding-bottom: 100px;
  padding-top: 220px;
}

.header-area.header-absolute, .header-area.header-absolute a, {
  color: #fff;
}
.header-area.header-absolute {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 50px 0;
}
.section-padding {
  padding: 100px 0;
}
.section-padding.yellow-bg {
  background: #E7B630;
  color: #fff;
}
.single-portfolio-item {
  height: 400px;
  margin-left: 2%;
  float: left;
  width: 60%;
  margin-bottom: 2%;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.portfolio-list {
  margin-left: -2%;
  overflow:hidden;
}
.single-portfolio-item.small-item {
  width: 36%;
}
.section-padding.dark-bg {
  background: #1D1E20;
}
.cta-text {
  font-size: 20px;
  line-height: 2;
}
.cta-text h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.dark-bg a.bordered-btn {
  border: 1px solid #E7B630;
  display: inline-block;
  padding: 0px 30px;
  color: #E7B630;
  margin-top: 40px;
}

.footer-area {
  background: #1D1E20;
  color: #fff;
  border: 1px solid #333;
  padding: 20px 0 15px;
}
.social-icon {
  font-size: 20px;
  margin-top: -5px;
}
.social-icon a {
  padding-left: 20px;
}



