*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	
}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.listing-bg-1{background:url(../img/categories-1.jpg);}
.listing-bg-2{background:url(../img/categories-2.jpg);}
.listing-bg-3{background:url(../img/categories-3.jpg);}
.listing-bg-4{background:url(../img/categories-4.jpg);}
.listing-bg-5{background:url(../img/categories-5.jpg);}


.section-padding {
  padding: 100px 0;
}
.section-titel {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.section-titel h2 {
  font-size: 40px;
  color: ;
  font-weight: 700;
  margin: 0;
}
.single-listing-box {
	height: 350px;
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: relative;
	border-radius: 5px;
	z-index:1;
}
.listing-hover {
	position: absolute;
	left: 10%;
	width: 80%;
	bottom: 30px;
	color:#ddd;
	font-size:18px;
}
.single-listing-box::after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#333;
	z-index:-1;
	opacity:.5;
}
.listing-hover h3 {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
}
.bordered-btn {
	border: 1px solid #fff;
	color: #fff;
	padding: 6px 25px;
	display: inline-block;
	border-radius: 50px;
}
.listing-carousel.owl-carousel .owl-stage-outer {
	overflow: inherit;
}
.section-padding.listing-carousel-wraper {
	overflow-x: hidden;
}
.listing-carousel{
	position:relative;
}
.listing-carousel::before,.listing-carousel::after {
	content: "";
	position: absolute;
	top: 0;
	left: -500%;
	width: 500%;
	height: 100%;
	background: #fff;
	z-index: 1;
	opacity: .5;
}
.listing-carousel::after{
	left:auto;
	right:-500%;
}
.listing-carousel .owl-dots button.owl-dot{
	display:inline-block;
	width:15px;
	height:15px;
	border:1px solid #333;
	border-radius:50%;
	margin:5px;
	
}
.listing-carousel .owl-dots button.owl-dot.active{
	background:#BEBEBE;
}
.listing-carousel .owl-dots{
	text-align:center;
	margin-top:15px;
}


