@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{

}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}

.team-bg{
	background-image:url(../img/team-1.jpg);
}
.team-bg-2{
	background-image:url(../img/team-2.jpg);
}
.team-bg-3{
	background-image:url(../img/team-3.jpg);
}

.section-titel {
	position: relative;
	text-transform: uppercase;
	text-align: right;
	font-size: 30px;
	font-weight: 700;
	transform: rotate(270deg);
	margin-top: 68px;
	color: #000000;
	width: 175px;
	margin-left: 40px;
	margin-bottom:60px;
}
.section-titel::after {
	position: absolute;
	content: "";
	right: 0;
	height: 1px;
	width: 48%;
	background: #333;
	top: -28px;
}
.team-bg {
	height: 270px;
	background-size: cover;
	background-position: center top;
	margin-bottom: 50px;
}
.borded-content {
  border: 1px solid #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.borded-content h3 {
	font-size: 19px;
	background: #fff;
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 5px;
	font-weight: 700;
	color: #3A3A3A;
}
.team-titel {
	margin-top: -11px;
}
.col-md-4:nth-child(2) .single-team-member {
	margin-top: 106px;
}
.section-padding {
	padding: 80px 0;
}






