@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900&display=swap');
*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
	font-weight:400;
}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.single-slide-item {
	background-image: url(../img/header-image.jpg);
	background-size: cover;
	background-position: center;
	height: 650px;
	margin-bottom: 400px;
	position:relative;

}
.slide-text-area {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.slide-text {
	background: #197FC9;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 150px;
	font-size:16px;
	position:relative;
}
.slide-text h2{
	font-family:'Roboto', sans-serif;
	font-size:40px;
}
.boxed-btn {
	display: inline-block;
	background: #333;
	color: #fff;
	font-size: 14px;
	padding: 8px 25px;
	text-transform: uppercase;
	margin-top:30px;
}
.slide-text::before {
	position: absolute;
	content: "";
	top: 0;
	left: -1000%;
	height: 100%;
	width: 1000%;
	background: #197FC9;
}
.slide-text::after {
	position: absolute;
	content: "";
	top: 50px;
	right: -10px;
	width: 20px;
	height: 20px;
	background: #197FC9;
	transform: rotate(45deg);
}

/*main menu*/

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu ul li {
  position: relative;
  display: inline-block;
}
.main-menu ul li a {
  display: block;
  padding: 20px;
  color: #fff;
}
.main-menu {
	background: #197FC9;
}
/*.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    position: fixed;
  }*/

.stick-area{
	z-index:9999 !important;
	width:100%;
}
.is-stick{
	z-index: 9999;
	position:relative;
}





