@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	font-family:400;
}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
body.theme-2{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6e8ea2+0,8a8397+27,947587+45,a67b7b+71,ae8b85+100 */
background: #6e8ea2; /* Old browsers */
background: -moz-linear-gradient(left,  #6e8ea2 0%, #8a8397 27%, #947587 45%, #a67b7b 71%, #ae8b85 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #6e8ea2 0%,#8a8397 27%,#947587 45%,#a67b7b 71%,#ae8b85 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #6e8ea2 0%,#8a8397 27%,#947587 45%,#a67b7b 71%,#ae8b85 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e8ea2', endColorstr='#ae8b85',GradientType=1 ); /* IE6-9 */

}
body.theme-1 {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center center;
}
html,.theme-1 {
	height: 100%;
}
.site-wrap {
	height: 100%;
}
.site-wrap-table {
	display: table;
	height: 100%;
	width: 100%;
}
.site-wrap-tablecell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: relative;
}
.header-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 80px;
}
.footer-area {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #E5DEE4;
	padding: 15px;
}
.logo a {
	color: #272A32;
	font-size: 30px;
}
.main-menu{
	font-size:20px;
}
.main-menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.main-menu ul li {
	display: inline-block;
	padding-left: 30px;
}
.main-menu ul li a{
	color:#272A32; 
}
.hero-text {
	padding-left: 80px;
	width: 38%;
	font-size: 18px;
	color: #A2A1A4;
}
.hero-text h2 {
	color: #272A32;
	font-size: 55px;
	margin-bottom: 26px;
}
.social-links{
	margin-right:65px;
}
.social-links a {
	color: #AFA5AC;
	font-size: 20px;
	padding-left: 20px;
}
.social-links a:hover{
	color:#000;
}
.copyright-text {
	margin: 0;
	margin-left: 65px;
}

.theme-2 .site-wrap{
	background-image: url(../img/bg.jpg);
}

.theme-2 .header-area {
  position: relative;
}
.theme-2 .footer-area {
  position: relative;
  margin-top: 50px;
}
.theme-2 .site-wrap {
  background-size: cover;
  background-position: center center;
  background-color: #FF9CEA;
  margin: 5%;
}